# Secretos y Entornos
.env
.env.*
*.env
.git/

# Base de Datos y Logs Locales
*.db
*.sqlite3
*.db-journal 
*.log

# Entorno Virtual y Caché de Python
.venv/
venv/
__pycache__/
*.pyc
*.py[cod]

# Herramientas de Pruebas y Linter
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Archivos locales de Docker
postgres-data/
pgdata/

# IDEs y SO
.vscode/
.idea/